{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Bienvenue sur un site créé avec symfony</h1>

    <p>pour envoyer un mail à l'un de nos departement clique sur "Contact" dans la barre de menu ou clique <a href="{{ path('contact_create') }}">ici</a></p>

{% endblock %}

